:root {
  --header-color: #161b22;
  --main-background: #0d1117;
  --secundary-background: #161b22;
  --margin-color: #4f4f4f;
}

.container {
  background-color: #0d1117;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.panel {
  position: fixed;
  height: 100vh;
  width: 25%;
  background-color: var(--secundary-background);
  border-right: 1px solid var(--margin-color);
}

.trending {
  position: static;
  width: 40%;
  background-color: var(--secundary-background);
  border-left: 1px solid var(--margin-color);
}

.feed {
  height: 500vh;
}

.feed-header {
  width: 100%;
  height: 40px;
}
